@font-face
{
    font-family: 'police';
    src: url('../fonts/police.ttf');
    font-weight: normal;
    font-style: none;
}

body{
    background-color: #F7F7F7;
    width: 900px;
    margin: auto;
    font-family: police;
}

header{
    background-color: #2C3E50;
    color: white;
    height: 80px;
    text-transform: uppercase;
    margin-top: 10px;
}

    #navbar a{
        color: #BCBCBC;
        font-weight: normal;
        text-decoration: none;
        margin-left: 20px;
        font-size: 17px;
    }

    #navbar a:hover, #logo a{
        color: white;
    }

    #logo a{
        margin-left: 10px;
        color: white;
        text-decoration: none;
    }

    #navbar{
        float: right;
        position: relative;
        top: 27px;
        right: 160px;
    }

    #logo{
        float: left;
        position: relative;
        bottom: 2px;
        left: 10px;
    }

.teaserImage{
    margin-top: 10px;
    height: 350px;

}
    .teaserImage img{
        width: 900px;
        height: 350px;
    }

    .teaserImage .escalier1{
        position: relative;
        bottom: 320px;
        color: white;
        left: 30px;
        font-size: 35px;
    }

    .teaserImage .escalier2{
        position: relative;
        bottom: 300px;
        color: white;
        left: 120px;
        font-size: 35px;
    }

    .teaserImage .escalier3{
        position: relative;
        bottom: 280px;
        color: white;
        left: 300px;
        font-size: 35px;
    }

.teaserText h1, .teaserText p{
    text-align: center;
}

.lesThumbnails{
    width: 900px;
}

    .thumbnail{
        width: 25%;
        margin-top: 60px;
        background-color: #BCBCBC;
        margin-bottom: 100px;
        border-radius: 5px;
        padding-bottom: 10px;
        padding-top: 3px;
        display: inline-block;
        margin-left: 60px;
        vertical-align: top;
    }

        .thumbnail img{
            margin-left: 10%;
            width: 80%;
        }

        .thumbnail h1{
            font-size: 25px;
            text-align: center;
        }

        .thumbnail .help-block{
            text-align: center;
            font-size: 14px;
            margin-left: 3px;
            margin-right: 3px;
        }

        .thumbnail .button{
            width: 100px;
            margin-left: 27%;
            background-color: #2C3E50;
            padding: 1px 1px 1px 1px;
        }

        .thumbnail .button a{
            text-decoration: none;
            color: white;
            text-decoration: none;
        }
        .thumbnail .button a:hover{
            color: #BCBCBC;
        }

        .thumbnail .button a p{
            font-size: 13px;
            text-align: center;
        }

footer{
    width: 900px;
    margin: auto;
    background-color: #2C3E50;
    height: 80px;
    margin-bottom: 10px;
}

    footer p{
        padding-top: 27px;
        color: #BCBCBC;
        font-weight: normal;
        text-align: center;
    }

    footer p a{
        text-decoration: none;
        color: orange;
    }

    footer p a:hover{
        text-decoration: underline;
    }