@font-face
{
    font-family: 'police';
    src: url('../fonts/police.ttf');
    font-weight: normal;
    font-style: none;
}

body{
    background-color: #F7F7F7;
    width: 900px;
    margin: auto;
    font-family: police;
}

header{
    background-color: #2C3E50;
    color: white;
    height: 80px;
    text-transform: uppercase;
    margin-top: 10px;
}

    #navbar a{
        color: #BCBCBC;
        font-weight: normal;
        text-decoration: none;
        margin-left: 20px;
        font-size: 17px;
    }

    #navbar a:hover, #logo a{
        color: white;
    }

    #logo a{
        margin-left: 10px;
        color: white;
        text-decoration: none;
    }

    #navbar{
        float: right;
        position: relative;
        top: 27px;
        right: 160px;
    }

    #logo{
        float: left;
        position: relative;
        bottom: 2px;
        left: 10px;
    }

.teaserImage{
    margin-top: 10px;
    height: 350px;

}
    .teaserImage img{
        width: 900px;
        height: 350px;
    }

    .teaserImage .escalier1{
        position: relative;
        bottom: 320px;
        color: white;
        left: 30px;
        font-size: 35px;
    }

    .teaserImage .escalier2{
        position: relative;
        bottom: 300px;
        color: white;
        left: 120px;
        font-size: 35px;
    }

    .teaserImage .escalier3{
        position: relative;
        bottom: 280px;
        color: white;
        left: 300px;
        font-size: 35px;
    }