@font-face
{
    font-family: 'police';
    src: url('../fonts/police.ttf');
    font-weight: normal;
    font-style: none;
}

body{
    font-family: Arial;
}

a, a:visited{
    text-decoration: none;
    color: black;
}

header{
    background: #404852;
    height: 60px;
    font-size: 20px;
}

    #logo{
        background: #72A349;
        height: 60px;
        width: 150px;
    }

    #logo a{
        color: white;
        position: relative;
        top: 17px;
        left: 35px;
    }

    #navbar, #logo, #lien1, #lien2, #lien3, #lien4{
        display: inline-block;
    }

    #navbar{
        margin-left: 10%;
    }

    #navbar #lien1 a, #navbar #lien2 a, #navbar #lien3 a, #navbar #lien4 a{
        color: #687484;
        margin-left: 30px;
        position: relative;
        top: 17px;
    }

    #navbar #lien1 a:hover, #navbar #lien2 a:hover, #navbar #lien3 a:hover, #navbar #lien4 a:hover{
        color: white;
    }

.teaser{
    height: 300px;
    margin:0;
    padding:0;
    background: url(../img/big-data.jpg) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    opacity: 0.9;
}

    .teaser h1{
        color: #fafafa;
        font-size: 40px;
        font-weight: bold;
    }

    .teaser .escalier1{
        position: relative;
        top: 40px;
        left: 10%
    }

    .teaser .escalier2{
        position: relative;
        top: 80px;
        left: 20%;
    }

    .teaser .escalier3{
        position: relative;
        top: 120px;
        left: 30%;
    }

.description{
    margin-top: 10px;
}

    .description h1{
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }

    .description p{
        margin-top: 10px;
        font-size: 20px;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
    }

.lesThumbnails{
    margin-top: 40px;
    width: 70%;
    margin-left: 10%;
}

    .thumbnail{
        padding: 10px 10px 10px 10px;
        width: 100%;
        background: #e0e0e0;
        vertical-align: top;
        margin-left: 5%; 
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .thumbnail img{
        width: 40%;
        display: inline;
    }

    .thumbnail .text{
        float: right;
        display: inline;
        width: 60%;
        margin: auto;
    }

    .thumbnail .text a h1{
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .thumbnail .text a h1:hover{
        text-decoration: underline;
    }

    .thumbnail .text .help-block p{
        font-size: 20px;
        text-align: center;
        margin-bottom: 10px;
    }

    .thumbnail .text .button a p{
        background: #3946a8;
        font-size: 17px;
        text-align: center;
        color: white;
        padding: 5px 5px 5px 5px;
        border-radius: 10px;
    }

    .thumbnail .text .button a p:hover{
        text-decoration: underline;
    }

    .thumbnail .text .button {
        margin: auto;
        width: 150px;
        margin-top: 40px;
        border-radius: 10px;
    }

footer{
    background: #e3e3e3;
    height: 80px;
    border-top: 4px solid #B6C0C1;
    margin-bottom: 0;
    margin-top: 10px;
}

    footer p{
        margin-top: 30px;
        text-align: center;
    }

    footer p a{
        margin-top: 30px;
        text-align: center;
        color: #BF5200;
    }

    footer p a:hover{
        text-decoration: underline;
    }













